// -- External Components --
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-svg-core/styles.css";

// Page Defaults
body {
  font-weight: 300;
  font-size: 14px;
}

// -- Typography --
.text-big-muted {
  @extend .text-muted;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

header {
  font-weight: 400;
  font-size: .8em;
  a:hover {
    text-decoration: underline;
  }
}

.index-page-container {
  display: block;
  margin: auto 40px;
  width: calc(100% - 40px * 2);

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}